:root {
    --primary-color: #F59302;
    --primary-background-color: #1A1A1A;
    --secondary-color: #EEE;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-background-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    color: var(--secondary-color);
}

h2 {
    color: var(--primary-color);
}

h3 {
    color: darkgrey;
}

p{
    color: darkgrey;
}

a{
    color: white;
}